* {
    font-family: "Cormorant SC", serif;
    font-weight: 300;
    -webkit-tap-highlight-color: transparent;
}

.navbar {
    display: flex;
    margin: auto;
    width: 95%;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 0 0 1.3em 1.3em;
    background-color: rgba(0, 0, 0, 0.096);
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    margin: auto;
}

.item {
    font-size: 1em;
    padding: 1em;
    margin: auto;
    border-bottom: solid 1px rgba(255, 255, 255, 0);
}

.item a {
    color: #FFF;
    text-decoration: none;
}

.item:hover {
    border-bottom: solid 1px white;
    transition: 1s;
}